<html>
        <title>Login Admin</title>
		<link rel="stylesheet" type="text/css" href="../static/css/adminafterlogin.css">
  <body>
        
<div class="navigation">
  
        <a class="button" href="/adminlogin">
          <img src="https://image.shutterstock.com/image-illustration/logout-isolated-on-special-cyan-260nw-1164706543.jpg">
      
      <div class="logout">LOGOUT</div>
    
        </a>
      
    </div>
    
      
    
  <h1 >Admin Login</h1>
  
  <div id='maindiv'>
        
      <button class="btn btn1">Collection of Data</button>
      <button class="btn btn2">Preprocessing Data</button>
      <button class="btn btn3">Training Data</button>
      <a href="/admin/CustmerReviews"><button class="btn btn2">Custmer Reviews</button></a> 
      </div>
    
      


  </body>
</html>