<html>
        <title>Collection of Data</title>
		<link rel="stylesheet" type="text/css" href="../static/css/adminafterlogin.css">
  <body>
        
<div class="navigation">
  
        <a class="button" href="">
          <img src="https://image.shutterstock.com/image-illustration/logout-isolated-on-special-cyan-260nw-1164706543.jpg">
      
      <div class="logout">LOGOUT</div>
    
        </a>
      
    </div>
    
      
    
  <h1 >Collection of Data</h1>

  <div id='maindiv'>
        
      <button class="btn btn1">Import Files</button>
      <button class="btn btn3">Upload</button>
      </div>
      


  </body>
</html>