<html>
<title>Login Admin</title>
<link rel="stylesheet" type="text/css" href="../static/css/userafterlogin.css">

<body style="background-color: beige;">

  <div class="navigation">

    <a class="button" href="/userlogin">
      <img src="https://image.shutterstock.com/image-illustration/logout-isolated-on-special-cyan-260nw-1164706543.jpg">

      <div class="logout">LOGOUT</div>

    </a>

  </div>



  <h1 style="text-align: center;">User Login</h1>
  <br>
  <div class="card">
    <h3>Tell us your Experiance</h3>
    <div class="rating-container">
      <small>Please give the feedback.</small>

     
    </div>

    
    <a class="link" href="#">Add a comment</a>
    <textarea id="w3review" name="w3review" rows="4" cols="50"></textarea>
    <button class="btn">Submit</button>
  </div>



</body>

</html>